.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

.badge-primary {
    border-radius: 15px;
    background-color:   #4f94cd;
    padding: 5px 8px 5px 8px;
}

.card {
    border-radius: .65rem;
    border: none;
}

.card.comment.gedf-card {
    flex-direction: row-reverse;
    align-items: center;
}

.comment-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

textarea.comment-text-area {
    width: 85%;
    height: 100%;
}

.btn-outline-primary {
    color: gray;
    background-color: #5245ca;
    /*background-image: none;*/
    border-color: white;
}

.card-header {
    border: none;
    background-color: white;
}

.card-footer {
    border: none;
    background-color: white;
}

#popular {
    color:  #4f94cd;
}

.mscol {
    color: #fff!important;
    background-color: #5245ca;
}

button.mscol {
    color: #fff!important;
    background-color: #5245ca!important;
}

.mscol2 {
    border-radius: 10px;
    padding: 2px;
    color: #5245ca!important;
    background-color: #fff!important;
}

i.mscol2 {
    color: #5245ca!important;
    background-color: none;
}

.card.pl-3.mscol {
    margin-top: 10px;
    margin-left: 10px;
}

.mscol a {
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    background-color: #5245ca;
    color: #fff;
}

.mscol a:hover {
    background-color: #fff;
    color: #5245ca;
}

a:hover {
    text-decoration: none;
}

.card-body .d-flex h6 {
    font-size: 13px;
}

form.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

textarea.form-control {
    border: none;
    background-color: #e5e5e5;
}

#postcard {
    background-color: #e5e5e5;
    border-radius: .65rem;
}

.card-text, .card-footer a {
    font-size: 14px;
    color: gray;
}

.fa {
    color: gray;
}

#suggested {
    padding-right: 28px;
}

.list-group-item {
    border: none;
}

.jumbotron {
    background-color: #5245ca;;
    border-radius: 0;
}

.container {
    background-color: #eeeeee;
    border-radius: .65rem;
}

#profile {
    margin: -16px 0px 0px -5px;
}

#search {
    border: none;
}

.btn-group>.btn {
    border: none;
}

.btn-group .foo {
    width: 20%;
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
}

.notification {
    margin-left: 5px;
    background-color: white;
    color: rgb(206, 78, 78);
    -webkit-border-radius: 5px 5px 5px 5px; 
    -moz-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 0 2px 0 2px;
}