{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="card gedf-card">
        <div class="card-body" id="postcard">
            <form method="post" enctype="multipart/form-data">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                        <div class="form-group">
                            <label class="sr-only" for="message">post</label>
                            <textarea class="form-control pt-4" name="post" id="message" rows="5" placeholder="Write Something..."></textarea>
                            <div class="thumb"><img id="img" src=""/></div>
                        </div>
                    </div>
                </div>
                <div class="btn-group">
                    <input type="file" name="image" id="upload" class="foo" accept="image/*">
                    <button type="submit" class="btn btn-primary mscol">Post</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    {% if posts %}
        {% for post in posts %}
            <div class="card gedf-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center pt-5">
                            <div class="mr-2">
                                <img class="rounded-circle" width="45" height="45" src="{{ url_for('views.get_image', file=post.userpic) }}" alt="">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">
                                    <a class="msp" href="{{ url_for('views.profile', username=post.userName) }}">
                                        {{ post.userName }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/post/{{ post.id }}/">
                    <div class="card-body">
                        <p class="card-text text-muted">
                            {{ post.desc }}
                        </p>
                    </div>
                    {% if post.img %}
                        <div class="card mr-3">
                            <img src="{{ url_for('views.get_image', file=post.img) }}" class="card-img-top" alt="...">
                        </div>
                    {% endif %}
                </a>
                <div class="card-footer">
                    {% if post.id in likedPosts %}
                        <a href="#" class="card-link" onclick="likePost({{ post.id }});">
                            <i class="fa fa-thumbs-up mr-2 mscol2" aria-hidden="true"></i>
                            {{ post.likes }}
                        </a>
                    {% else %}
                        <a href="#" class="card-link" onclick="likePost({{ post.id }});">
                            <i class="fa fa-thumbs-up mr-2" aria-hidden="true"></i>
                            {{ post.likes }}
                        </a>
                    {% endif %}
                    {% if post.id in disLikedPosts %}
                        <a href="#" class="card-link" onclick="disLikePost({{ post.id }});">
                            <i class="fa fa-thumbs-down mr-2 mscol2" aria-hidden="true"></i>
                            {{ post.disLikes }}
                        </a>
                    {% else %}
                        <a href="#" class="card-link" onclick="disLikePost({{ post.id }});">
                            <i class="fa fa-thumbs-down mr-2" aria-hidden="true"></i>
                            {{ post.disLikes }}
                        </a>
                    {% endif %}
                    <a href="{{ url_for('views.post', postId=post.id) }}" class="card-link">
                        <i class="fa fa-comment mr-2 mscol2" aria-hidden="true"></i>
                        {{ post.comments }}
                    </a>
                    {% if post.userName == user.userName %}
                        <a href="{{ url_for('views.edit_post', postId=post.id) }}" class="card-link">
                            <i class="fas fa-edit mr-2 mscol2" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            <br>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block footer %}
    <script>
        function preview(input) {
    if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) { 
        console.log(reader.result)
        var img = new Image;
            img.onload = function() {				 $('#img').attr({'src':e.target.result,'width':img.width});
            };
    img.src = reader.result;
                                }
    reader.readAsDataURL(input.files[0]);     }   }

    $("#upload").change(function(){
    $("#img").css({top: 0, left: 0});
    preview(this);
    $("#img").draggable({ containment: 'parent',scroll: false});
    });
    </script>
    <script>
        function likePost(postId) {
            fetch("/like-post", {
                method: "POST",
                body: JSON.stringify({ postId: postId }),
            }).then((_res) => {
                window.location.href = "{{ url_for('views.home') }}";
            });
        }

        function disLikePost(postId) {
            fetch("/dis-like-post", {
                method: "POST",
                body: JSON.stringify({ postId: postId }),
            }).then((_res) => {
                window.location.href = "{{ url_for('views.home') }}";
            });
        }

        function followUser(targetId) {
            fetch("/follow-user", {
                method: "POST",
                body: JSON.stringify({ targetId: targetId }),
            }).then((_res) => {
                window.location.href = "{{ url_for('views.home') }}";
            });
        }
    </script>
{% endblock %}