<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MateSet - Profile</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/alerts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/userLink.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="jumbotron">
        <div class="container px-1 py-3">
            <div class="row">
                <div class="col-md-3" id="profile">
                    <div class="card pl-3 mscol">
                        <ul class="list-group list-group-flush">
                            <li style="opacity: 0;"></li>
                            <li class="list-group-item mscol">
                                <div class="h6 text-muted mscol"><i class="fa fa-history mscol mr-4"></i><a href="/">Timeline</a></div>
                            </li>
                            <li class="list-group-item mscol">
                                <div class="h6 text-muted mscol"><i class="fa fa-user mscol mr-4"></i><a href="{{ url_for('views.following') }}">Following</a></div>
                            </li>
                            <li class="list-group-item mscol">
                                <div class="h6 text-muted mscol"><i class="fa fa-envelope mscol mr-4"></i><a href="{{ url_for('views.message') }}">Message</a></div>
                            </li>
                            <li class="list-group-item mscol">
                                <div class="h6 text-muted mscol"><i class="fa fa-wrench mscol mr-4"></i><a href="{{ url_for('auth.settings') }}">Settings</a></div>
                            </li>
                            <li class="list-group-item mscol mb-5">
                                <div class="h6 text-muted mscol"><i class="fa fa-power-off mscol mr-4"></i><a href="{{ url_for('auth.logout') }}">Logout</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 gedf-main">
                    <div class="card gedf-card">
                        <div class="card-body">
                            <div class="mr-2">
                                <img class="rounded-circle" width="100" height="100" src="{{ url_for('views.get_image', file=user.profilePic) }}" alt="">
                            </div>
                            <div class="h5 mt-4">{{ user.userName }}</div>
                            <div class="h6 text-muted mb-5">{{ user.name }}</div>
                        </div>
                    </div>
                    <br>
                    {% if user.posts %}
                        {% for post in user.posts %}
                            <div class="card gedf-card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex justify-content-between align-items-center pt-5">
                                            <div class="mr-2">
                                                <img class="rounded-circle" width="45" height="45" src="{{ url_for('views.get_image', file=user.profilePic) }}" alt="">
                                            </div>
                                            <div class="ml-2">
                                                <div class="h5 m-0">{{ post.userName }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-muted">
                                        {{ post.desc }}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    {% if post.id in likedPosts %}
                                        <a href="#" class="card-link" onclick="likePost({{ post.id }});">
                                            <i class="fa fa-thumbs-up mr-2 mscol2" aria-hidden="true"></i>
                                            {{ post.likes }}
                                        </a>
                                    {% else %}
                                        <a href="#" class="card-link" onclick="likePost({{ post.id }});">
                                            <i class="fa fa-thumbs-up mr-2" aria-hidden="true"></i>
                                            {{ post.likes }}
                                        </a>
                                    {% endif %}
                                    {% if post.id in disLikedPosts %}
                                        <a href="#" class="card-link" onclick="disLikePost({{ post.id }});">
                                            <i class="fa fa-thumbs-down mr-2 mscol2" aria-hidden="true"></i>
                                            {{ post.disLikes }}
                                        </a>
                                    {% else %}
                                        <a href="#" class="card-link" onclick="disLikePost({{ post.id }});">
                                            <i class="fa fa-thumbs-down mr-2" aria-hidden="true"></i>
                                            {{ post.disLikes }}
                                        </a>
                                    {% endif %}
                                    <a href="#" class="card-link"><i class="fa fa-comment mr-2 mscol2" aria-hidden="true"></i> 05</a>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-3" id="suggested">
                        <div class="card-body">
                            <h6 class="card-title mt-3 mb-5">Suggested people<span class="ml-5">:</span></h6>
                            {% if sugs %}
                                {% for usr in sugs %}
                                    <div class="d-flex mb-4">
                                        <div class="mr-1">
                                            <img class="rounded-circle" width="45" height="45" src="{{ url_for('views.get_image', file=usr.profilePic) }}" alt="">
                                        </div>
                                        <div class="ml-1">
                                            <div class="h6 m-0 mt-1" style="font-size: 14px;">
                                                <a class="mscol" href="{{ url_for('views.profile', username=usr.userName) }}">{{ usr.userName }}</a>
                                            </div>
                                            <div class="h7 text-muted" style="font-size: 12px;">
                                                <span>
                                                    {{ usr.name }}
                                                    <a href="#" class="card-link" onclick="followUser({{ usr.id }});">
                                                        <i class="fa fa-plus-circle fa-2x mscol2" style="margin-left: 65px;"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a166556e40.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
    <script>
        function likePost(postId) {
            fetch("/like-post", {
                method: "POST",
                body: JSON.stringify({ postId: postId }),
            }).then((_res) => {
                window.location.href = "{{ url_for('views.profile', username=user.userName) }}";
            });
        }

        function disLikePost(postId) {
            fetch("/dis-like-post", {
                method: "POST",
                body: JSON.stringify({ postId: postId }),
            }).then((_res) => {
                window.location.href = "{{ url_for('views.home') }}";
            });
        }

        function followUser(targetId) {
            fetch("/follow-user", {
                method: "POST",
                body: JSON.stringify({ targetId: targetId }),
            }).then((_res) => {
                window.location.href = "{{ url_for('views.profile', username=user.userName) }}";
            });
        }
    </script>
</body>
</html>