{% extends 'base.html' %}
{% block title %} Search {% endblock %}
{% block content %}
    <h6 class="card-title mt-3 mb-5">Users Found<span class="ml-5">:</span></h6>
    {% if users %}
        {% for usr in users %}
            <div class="d-flex mb-4">
                <div class="mr-1">
                    <img class="rounded-circle" width="45" height="45" src="{{ url_for('views.get_image', file=usr.profilePic) }}" alt="">
                </div>
                <div class="ml-1">
                    <div class="h6 m-0 mt-1" style="font-size: 14px;"><a class="mscol" href="{{ url_for('views.profile', username=usr.userName) }}">{{ usr.userName }}</a></div>
                    <div class="h7 text-muted" style="font-size: 12px;">
                        <span>
                            {{ usr.name }}
                            <a href="#" class="card-link" onclick="unFollowUser({{ usr.id }});">
                                <i class="fa fa-minus-circle fa-2x mscol2" style="margin-left: 65px;"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <h6 class="card-title mt-3 mb-5">None Found</h6>
    {% endif %}
{% endblock %}
{% block footer %}
    <script>
        function unFollowUser(targetId) {
            fetch("/unfollow-user", {
                method: "POST",
                body: JSON.stringify({ targetId: targetId }),
            }).then((_res) => {
                window.location.href = "{{ url_for('views.following') }}";
            });
        }

        function followUser(targetId) {
            fetch("/follow-user", {
                method: "POST",
                body: JSON.stringify({ targetId: targetId }),
            }).then((_res) => {
                window.location.href = "{{ url_for('views.following') }}";
            });
        }
    </script>
{% endblock %}