{% extends 'base.html' %}
{% block title %} Settings {% endblock %}
{% block content %}
                    <div class="card pl-3">
                        <div class="card gedf-card">
                            <div class="card-body">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="100" height="100" src="{{ url_for('views.get_image', file=user.profilePic) }}" alt="">
                                </div>
                                <div class="h5 mt-4">{{ user.userName }}</div>
                                <div class="h6 text-muted mb-5">{{ user.name }}</div>
                            </div>
                        </div>
                        <br>
                        <form method="POST" class="form-login" enctype="multipart/form-data">
                            <h2>Welcome Profile Settings</h2>
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-user"> </i>
                                </div>
                                <div>
                                    <h5>Change Profile Picture</h5>
                                    <div class="thumb"><img id="img" src=""/></div>
                                    <input type="file" name="profilePic" id="upload" class="foo" accept="image/*">
                                </div>
                            </div>
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-user"> </i>
                                </div>
                                <div>
                                    <h5>Change Username</h5>
                                    <input name="username" class="input" type="text">
                                </div>
                            </div>
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-user"> </i>
                                </div>
                                <div>
                                    <h5>Change Name</h5>
                                    <input name="name" class="input" type="text">
                                </div>
                            </div>
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-user"> </i>
                                </div>
                                <div>
                                    <h5>Change Email</h5>
                                    <input name="email" class="input" type="text">
                                </div>
                            </div>
                            <div class="input-div pass">
                                <div class="i">
                                    <i class="fas fa-lock"> </i>
                                </div>
                                <div class="div">
                                    <h5>Change Password</h5>
                                    <input name="password" class="input" type="password">
                                </div>
                            </div>
                            <div class="input-div one">
                                <div class="i">
                                    <i class="fas fa-lock"> </i>
                                </div>
                                <div>
                                    <h5>Current Password</h5>
                                    <input name="curpassword" class="input" type="password">
                                </div>
                            </div>
                            <br>
                            <input type="submit" class="btn btn-primary mscol" value="Save Changes">
                            <br>
                        </form>
                    </div>
{% endblock %}
{% block footer %}
    <script>
        function preview(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) { 
        console.log(reader.result)
        var img = new Image;
              img.onload = function() {				 $('#img').attr({'src':e.target.result,'width':img.width});
              };
     img.src = reader.result;
                                 }
      reader.readAsDataURL(input.files[0]);     }   }
  
  $("#upload").change(function(){
    $("#img").css({top: 0, left: 0});
      preview(this);
      $("#img").draggable({ containment: 'parent',scroll: false});
  });
    </script>
{% endblock %}