<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c0078485ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/alerts.css') }}">
    <title>MateSet - Sign up</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <img src="https://i.ibb.co/XWdPc2X/wave-01.png" alt="" class="wave">
    <div class="container">
        <div class="img">
            <img src="{{ url_for('static', filename='images/mateSetLogo.png') }}" alt="">
        </div>
        <div class="login-container">
            <form method="POST" class="form-login">
                <h2>Sign Up</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"> </i>
                    </div>
                    <div>
                        <h5>First Name</h5>
                        <input name="fname" class="input" type="text">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"> </i>
                    </div>
                    <div>
                        <h5>Last Name</h5>
                        <input name="lname" class="input" type="text">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"> </i>
                    </div>
                    <div>
                        <h5>Username</h5>
                        <input name="username" class="input" type="text">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div>
                        <h5>Email</h5>
                        <input name="email" class="input" type="text">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"> </i>
                    </div>
                    <div class="div">
                        <h5>Password</h5>
                        <input name="password" class="input" type="password">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-check-square"></i>
                    </div>
                    <div class="div">
                        <h5>Confirm Password</h5>
                        <input name="confirm" class="input" type="password">
                    </div>
                </div>
                <input type="submit" class="btn" value="Sign Up">
                <a href="/login/">Already have an account? Log in</a>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/login.js') }}"></script>
</body>
</html>